<footer>
  <mat-grid-list cols="3" rowHeight="fit" gutterSize="0px">
    <mat-grid-tile class="cell" class="left-align primary">
      <a href="assets/doc/cv.pdf" target="_blank" class="no-style">
        <fa name="download" matTooltip="CV"></fa>
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="cell" class="left-align primary">
      <a href="https://www.linkedin.com/in/yann-le-comte-50864296/" target="_blank" class="no-style">
        <i class="fab fa-linkedin-in" matTooltip="linkedin"></i>
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="cell" class="left-align primary">
      <i class="fas fa-envelope no-mobile" matTooltip="Contact me!"></i>
      <p>yann.le-comte@laposte.net</p>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
